{% extends "::base.html.twig" %}
{% set login = app.request.attributes.has('login')
               ? app.request.attributes.get('login')
               : login_iniciado
%}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/agencia/css/reset.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/agencia/css/layout.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/agencia/css/style.css') }}" type="text/css" media="all">    
{% endblock %}

{% block body %}
    <div class="nav-box">
        <nav>
            <ul class="fright">
                <li><a href="index.html"><img src="{{ asset('bundles/agencia/images/pic-home-act.gif') }}"></a></li>
                <li><a href="contact-us.html"><img src="{{ asset('bundles/agencia/images/pic-mail.gif') }}"></a></li>
                <li><a href="sitemap.html"><img src="{{ asset('bundles/agencia/images/pic-sitemap.gif') }}"></a></li>
            </ul>
            <ul>
                <li class="current"><a href="index.html">home</a></li>
                <li><a href="about-us.html">About</a></li>					
            </ul>
        </nav>
    </div> 
    {% block contenido %}
    {% endblock %}


    <aside>
        <div class="inside">
            {% render(controller('SirecoogAgenciaBundle:Default:resumen',
                                {'login': login}
                      )) 
            %}
        </div>
    </aside>



{% endblock %}
